<div class="card" ng-class="card.cardType" ng-dblclick="play(card)">
	<div class="name">{{card.name}}</div>
	<div class="numberOfPlayers">{{card.numberOfPlayers}}</div>
	<div class="costs">
		<div class="cost resources" ng-show="card.requiredResources">
			<icon ng-repeat="resource in card.requiredResources track by $index" kind="resource" value="resource"></icon>
		</div>
		<div class="cost previousStructure" ng-show="card.previousStructure"><span class="value">{{card.previousStructure}}</span></div>
		<div class="cost money" ng-show="card.price">
			<icon kind="money" text="card.price"></icon>
		</div>
	</div>
	<div class="effects" ng-show="card.effects" ng-class="'offset'+{{numberOfCosts}}">
		<div ng-repeat="effect in card.effects" class="bonus">
			<i ng-show="effect.left" class="fa fa-arrow-left"></i>
			<icon ng-repeat-start="resource in effect.eitherOrResourcesProduced" kind="resource" value="resource" size="effectsSize(effect) + numberOfCosts" /><div class="separator" ng-repeat-end="" ng-hide="$last">/</div>

			<icon ng-repeat="resource in effect.allResourcesProduced track by $index" kind="resource" value="resource" size="effectsSize(effect) + numberOfCosts" />

			<div class="trade" ng-show="effect.allowTradeResources">
				<icon kind="money" text="1"></icon>
				<icon ng-repeat="resource in effect.allowTradeResources" kind="resource" value="resource" size="effectsSize(effect) + numberOfCosts" />
			</div>

			<icon ng-show="!effect.rewardForSomething && effect.money" kind="money" text="effect.money" size="1" />
			<icon ng-show="!effect.rewardForSomething && effect.victoryPoints" kind="victory" text="effect.victoryPoints" size="1"></icon>

			<icon ng-show="effect.militaryPoints" ng-repeat="number in toArrayWithLength(effect.militaryPoints) track by $index" kind="military" size="effectsSize(effect) + numberOfCosts" />
			<icon ng-repeat-start="symbol in effect.eitherOrScienceSymbolsProduced" kind="science" value="symbol" size="effectsSize(effect) + numberOfCosts" /><span ng-repeat-end="" ng-hide="$last">/</span>


			<icon ng-if="effect.rewardForCardType" kind="card" value="effect.rewardForCardType" money="effect.money" victory="effect.victoryPoints" size="effectsSize(effect) + numberOfCosts" />
			<icon ng-if="effect.rewardForWonderStages" kind="wonder" money="effect.money" victory="effect.victoryPoints" size="effectsSize(effect) + numberOfCosts" />
			<icon ng-if="effect.rewardForMilitaryVictories" kind="militaryVictory" money="effect.money" victory="effect.victoryPoints" size="effectsSize(effect) + numberOfCosts" />
			<i ng-show="effect.self" class="fa fa-arrow-down"></i>
			<i ng-show="effect.right" class="fa fa-arrow-right"></i>
		</div>
	</div>
</div>