<div class="icon" ng-class="[kind, value, sizeName]">
    <div ng-if="text">{{text}}</div>
    <div ng-if="money" class="icon money">{{money}}</div>
    <div ng-if="victory" class="icon victory">{{victory}}</div>
</div>